<footer class="bg-purple-800 border-t border-purple-700 py-4 mt-8">
  <div class="max-w-7xl mx-auto px-6 text-center text-sm text-purple-300">
    © {{ (new Date()).getFullYear()}} KlikCV. Gemaakt door Kelvin de Reus.
  </div>
</footer>
