<header class="bg-purple-800 border-b border-purple-700 shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <img src="/images/icons/cv2.png" alt="KlikCV logo" class="h-8 w-8">
      <h1 class="text-lg font-bold text-white">
        <a href="/" class="hover:text-purple-300 text-white">
          KlikCV
        </a>
      </h1>
    </div>

    <nav class="space-x-4">
      <a href="/" class="hover:text-purple-300 transition">Home</a>
    </nav>
  </div>
</header>
