<!DOCTYPE html>
<html lang="nl" class="bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CV met kolommen</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="font-sans text-gray-900">
    <div class="max-w-5xl mx-auto p-8 mt-10 mb-10 flex flex-col md:flex-row gap-8">

      <aside class="md:w-1/4 flex flex-col items-center text-center space-y-6 border-r border-gray-200 pr-6">
        <h1 class="text-3xl font-bold">{{ firstName }} {{ lastName }}</h1>

        @if(profilePicture)
        <img src="{{ profilePicture }}" alt="Profile Picture" class="rounded-full w-36 h-36 object-cover" />
        @endif

        <p>{{ birthday }}</p>

        <p class="text-purple-700 font-semibold text-1xl">{{ jobTitle }}</p>
        <div class="text-gray-600 space-y-1">
          <p>{{ email }}</p>
          <p>{{ city }}</p>
          <p>{{ phone }}</p>
        </div>
      </aside>

      <main class="md:w-2/3 space-y-8">
        <section>
          <h2 class="text-2xl font-semibold border-b-2 border-purple-600 pb-1 mb-4">Profiel</h2>
          <p>
            {{ profile }}
          </p>
        </section>

        <section>
          <h2 class="text-2xl font-semibold border-b-2 border-purple-600 pb-1 mb-4">Werkervaring</h2>
          @each(workExperience in workExperience)
            <div class="mb-4">
              <div class="flex justify-between text-gray-600">
                <h3 class="text-xl font-bold">{{ workExperience.position }}</h3>
                <p class="text-sm text-gray-500 mb-2">{{ workExperience.start_date }} - {{ workExperience.end_date }}</p>
              </div>
              <p class="italic text-gray-600">{{ workExperience.location }}</p>
              <ul class="list-disc list-inside space-y-1">
                {{ workExperience.description }}
              </ul>
            </div>
          @end
        </section>

        <section>
          <h2 class="text-2xl font-semibold border-b-2 border-purple-600 pb-1 mb-4">Opleidingen</h2>
          @each(education in educations)
            <div class="mb-6">
              <div class="flex justify-between text-gray-600">
                <h3 class="text-xl font-bold">{{ education.degree }}</h3>
                <p class="text-sm text-gray-500">{{ education.start_date}} - {{ education.end_date}}</p>
              </div>

              <p class="italic">{{ education.institution }}</p>
              <p>
                {{ education.description }}
              </p>
            </div>
          @end

        </section>

        <!-- Skills -->

        @if(skillSet && skillSet.length > 0)
          <section>
            <h2 class="text-2xl font-semibold border-b-2 border-purple-600 pb-1 mb-4">Vaardigheden</h2>
            <div class="space-y-4 max-w-md">
                @each(skill in skillSet)

                <div>
                  <strong>{{ skill.name }}</strong>:
                  <span>
                    @each(i in [1, 2, 3, 4])
                      <span class="{{ i <= skill.level ? 'text-yellow-400' : 'text-gray-300' }} text-x">★</span>
                    @end
                  </span>
                </div>
                @end
              @else
              <p>Geen skills gevonden.</p>
            </div>
          </section>
        @endif
      </main>

    </div>
  </body>
</html>
