@layout.main({ title: "Niet gevonden..." })
  @slot('meta')
    <meta name="description" content="Privacyverklaring van KlikCV. Lees hoe wij omgaan met uw persoonsgegevens bij het genereren van een CV.">
  @endslot

  @slot('main')
    <h1>
      404 - Page not found
    </h1>
    <p>
      This template is rendered by the
      <a href="http://docs.adonisjs.com/guides/exception-handling#status-pages">status pages feature</a>
      of the global exception handler.
    </p>

  @endslot
@end
