@layout.main({ title: "Privacy verklaring" })
  @slot('meta')
    <meta name="description" content="Privacyverklaring van KlikCV. Lees hoe wij omgaan met uw persoonsgegevens bij het genereren van een CV.">
  @endslot

  @slot('main')
    <div class="pt-4 h-full flex flex-col mt-8 min-h-screen p-3">
      <h1 class="text-4xl font-bold text-white text-center">
        Contact
      </h1>

    </div>
  @endslot
@end
