@layout.main({ title: "Home"})
  @slot('meta')
  <meta name="description" content="A welcome page made with EdgeJS">
  @endslot

  @slot('main')
    <div class="pt-4 h-full flex flex-col mt-8 ">
      <div class="flex items-center justify-center w-full">
        <h1 class="text-3xl">Maak je CV en exporteer hem zonder verborgen kosten!</h1>
      </div>
    </div>
  @endslot
@end
